@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Roboto+Mono:wght@100;400&family=Rock+Salt&display=swap');

* {
  background-color: black;
}
body {
    background-color: black;
}
.write {
    color: #5a5a5aaf;
    font-family: Long Cang;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
#body{
    margin-left: 20px;
    margin-bottom: 0;
    padding-top: 10vh;
    padding-bottom: 0;
    
}
#body-after {
    margin-left: 20px;
}

#h1 {
    margin-left: 20px;
}

p {
    color: white;
    font-family: Roboto Mono;
    max-width: 55vw;
    margin-left: 5rem;
    font-size: 20px
}
#p {
    margin-left: 29px;
    margin-top: 0px;
    padding-bottom: 0;
}
#h2 {
    margin-left: 29px;
    margin-top: 0px;
    padding-bottom: 0;
}
h2 {
    color: white;
    font-family: Roboto Mono;
    max-width: 55vw;
    margin-left: 5rem;
    
}
.header {
  color: white;
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 4rem;
  margin: 0;
  margin-left: 5rem;
  padding: 0;
}

.label {
  background: #000000;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.label:before {
  content: 'me';
  transition: all 0.3s ease-in-out;
}

.label:after {
  content: 'Ryan Coulson';
  opacity: 0;
    margin-left: -80px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.label:hover {
  background: #000000;
}

.label:hover:before {
  opacity: 0;
}

.label:hover:after {
  opacity: 100;
}

.navbar {
    font-family: Roboto Mono;
}

@media screen and (max-width:1200px){
    .header{
      font-size: 100%
    }
    p{
      font-size: 90%;
    }
    h2 {
        font-size: 100%;
    }
  }