@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Roboto+Mono:wght@100;400&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=VT323&display=swap');

p {
  max-width: 55vw;
  margin-left: 5rem;
  font-size: 20px;
}

h2 {
  max-width: 55vw;
  margin-left: 5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.about {
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(1,2,41,1) 35%, rgba(1,1,80,1) 100%);
  padding-left: 5rem;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
/*<------------------------background text--------------->*/
#body {
  margin-left: 20px;
  margin-bottom: 0;
  padding-top: 10vh;
  padding-bottom: 0;
}
#body-after {
  margin: 20px 0 0px 20px;
  padding-bottom: 20px;
}
#doctype {
  padding-top: 6rem;
}
#h1 {
  margin-left: 20px;
}

#p {
  margin-left: 29px;
  margin-top: 0px;
  padding-bottom: 0;
}
#h2 {
  margin-left: 29px;
  margin-top: 0px;
  padding-bottom: 0;
}
.write {
  color: #ff7676af;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

/*<------------------------header text--------------->*/
.header {
  font-weight: 400;
  font-size: 4rem;
  margin: 0;
  margin-left: 5rem;
  padding: 0;
}

.label {
  background: transparent;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.label:before {
  content: 'me';
  transition: all 0.3s ease-in-out;
}

.label:after {
  content: 'Ryan Coulson';
  opacity: 0;
  position: relative;
  left: -1.2em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.label:hover {
  background: transparent;
}

.label:hover:before {
  opacity: 0;
}

.label:hover:after {
  opacity: 100;
}

/*<------------------------responsive--------------->*/

@media screen and (max-width: 1200px) {
  .about {
    padding-left: 0px;
  }
  .header {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
  h2 {
    font-size: 0.8rem;
  }
  .links {
    top: 0;
    left: 0;
    background-color: transparent;
    margin-left: 5px;
  }
}
