.contactForm {
  margin: auto;
  justify-content: center;
}
.contactHeader {
  text-align: center;
  font-size: 3.5em;
}

.container {
  position: relative;
  width: 100%;
  min-height: 70vh;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: rgb(39, 18, 53);
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(218, 218, 218, 0.514);
  z-index: 1000;
  overflow: hidden;
  display: grid;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.email,
.textArea {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
  resize: none;
  overflow-y: auto;
}

.contactSubmit {
  padding: 0.6rem 1.3rem;
  background-color: rgb(45, 43, 73);
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #ffffff;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
#contactSubmit:hover {
  background-color: rgb(118, 49, 145);
}
