@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Roboto+Mono:wght@100;400&family=Rock+Salt&display=swap');

* {
  box-sizing: border-box;
  font-family: Roboto Mono, sans-serif;
  background-color: black;
}
body {
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

/*<------------------------typing--------------->*/

.typingText {
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
}

.intro {
  display: flex;
  z-index: 1;
  background-color: transparent;
  font-size: 1rem;
}

.hello {
  position: relative;
  filter: blur(0px);
  color: white;
}
.typing {
  position: relative;
  filter: blur(0px);
  color: white;
}
.typing::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 90%;
  border-right: 2px solid white;
  right: -8px;
  animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*<------------------------nav--------------->*/

.topnav {
  background-color: transparent;
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #252525;
  color: white;
}
a {
  color: #f2f2f2;
}
a:hover {
  color: #696969;
}
.links {
  position: absolute;
  right: 2vw;
  bottom: 2vw;
  font-size: 2.5em;
  color: rgb(211, 211, 211);
  background-color: black;
}

/*<------------------------background texts--------------->*/
.tab1 {
  position: relative;
  left: 20px;
}
.tab2 {
  position: relative;
  left: 40px;
}

.function {
  font-size: 1.7rem;
}
.vars {
  color: #a8a8a881;
  position: absolute;
  left: 9vw;
  top: 5vw;
  transform: rotate(-3deg);
}
.code {
  position: absolute;
  right: 7vw;
  bottom: 5vw;
  transform: rotate(6deg);
  color: #a8a8a881;
}

h3 {
  background-color: black;
  margin: 0;
  font-family: Long Cang;
  font-size: 1.6rem;
}

/*<------------------------responsive--------------->*/

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 6rem;
  }
  .code,
  .vars,
  .function,
  h3 {
    font-size: 0.8rem;
  }
  .links {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1500px) {
  h1 {
    font-size: 1rem;
  }
  .code,
  .vars,
  .function,
  h3 {
    font-size: 1rem;
  }
}
